<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="main-header">
        <div class="logo-section">
            <img src="../../../assets/img/Uninorte.png" alt="Logo Universidad" class="logo-header">
            <h1>Panel de Administración</h1>
        </div>
        <nav>
            <a href="#">Usuarios</a>
            <a href="#">Carreras</a>
            <a href="#">Reportes</a>
            <a href="index.html">Cerrar sesión</a>
        </nav>
    </header>

    <main class="main-content">
        <h2>Bienvenido, Administrador</h2>
        <p>Desde este panel puedes gestionar usuarios, asignar roles y ver reportes.</p>
    </main>
</body>
</html>
